## Imports

In [135]:
import pandas as pd

from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

pd.options.display.max_columns = 999

## Read dataset

TODO - say few words about pandas dataframes

In [4]:
dataset = pd.read_csv("../dataset/bank_marketing/bank-full.csv", delimiter=";")

## Initial data analysis

In [6]:
dataset.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no

In [7]:
dataset.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [9]:
dataset.isna().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
y            False
dtype: bool

In [10]:
dataset.describe(include="all")

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
count,45211.000000,45211,45211,45211,45211,45211.000000,45211,45211,45211,45211.000000,45211,45211.000000,45211.000000,45211.000000,45211.000000,45211,45211
unique,NaN,12,3,4,2,NaN,2,2,3,NaN,12,NaN,NaN,NaN,NaN,4,2
top,NaN,blue-collar,married,secondary,no,NaN,yes,no,cellular,NaN,may,NaN,NaN,NaN,NaN,unknown,no
freq,NaN,9732,27214,23202,44396,NaN,25130,37967,29285,NaN,13766,NaN,NaN,NaN,NaN,36959,39922
mean,40.936210,NaN,NaN,NaN,NaN,1362.272058,NaN,NaN,NaN,15.806419,NaN,258.163080,2.763841,40.197828,0.580323,NaN,NaN
std,10.618762,NaN,NaN,NaN,NaN,3044.765829,NaN,NaN,NaN,8.322476,NaN,257.527812,3.098021,100.128746,2.303441,NaN,NaN
min,18.000000,NaN,NaN,NaN,NaN,-8019.000000,NaN,NaN,NaN,1.000000,NaN,0.000000,1.000000,-1.000000,0.000000,NaN,NaN
25%,33.000000,NaN,NaN,NaN,NaN,72.000000,NaN,NaN,NaN,8.000000,NaN,103.000000,1.000000,-1.000000,0.000000,NaN,NaN
50%,39.000000,NaN,NaN,NaN,NaN,448.000000,NaN,NaN,NaN,16.000000,NaN,180.000000,2.000000,-1.000000,0.000000,NaN,NaN
75%,48.000000,NaN,NaN,NaN,NaN,1428.000000,NaN,NaN,NaN,21.000000,NaN,319.000000,3.000000,-1.000000,0.000000,NaN,NaN
max,95.000000,NaN,NaN,NaN,NaN,102127.000000,NaN,NaN,NaN,31.000000,NaN,4918.000000,63.000000,871.000000,275.000000,NaN,NaN

## Train first Decision Tree Classifier

In [92]:
feature_set_v1 = ["age", "job", "marital", "education", "balance", "housing", "loan", "day", "month", "campaign", "pdays", "previous", "poutcome"]
target_v1 = "y"

random_state = 1987

In [90]:
dt_v1 = DecisionTreeClassifier(random_state=random_state)

In [93]:
dt_v1.fit(dataset[target_v1], dataset[target_v1])

ValueError: could not convert string to float: 'no'

## Feature encoding

TODO: read mode about pandas categories

In [120]:
dataset.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,job_cat,marital_cat,education_cat,default_cat,housing_cat,loan_cat,contact_cat,month_cat,poutcome_cat,y_cat
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no,4,1,2,0,1,0,2,8,3,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no,9,2,1,0,1,0,2,8,3,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no,2,1,1,0,1,1,2,8,3,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no,1,1,3,0,1,0,2,8,3,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no,11,2,3,0,0,0,2,8,3,0
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no,4,1,2,0,1,0,2,8,3,0
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no,4,2,2,0,1,1,2,8,3,0
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no,2,0,2,1,1,0,2,8,3,0
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no,5,1,0,0,1,0,2,8,3,0
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no,9,2,1,0,1,0,2,8,3,0

In Machine Learning we have two main types of features : <br>
- <b>Numerical features </b> <br>
    Like age, balance, duration,
- <b>Categorical features</b>
    - nominal features <br>
    We don't have any logical order for feature values. ex. job, marital, housing, loan,
    - ordinal features <br>
    We have a logical order. ex. education, month, 

There are many ways to convert a categorical(string) feature into a numerical one, namely almost each ML related library contains one. <br>

One of the most populars are : <br>
sklearn : [LabelEncoding](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html) <br>
pandas : [Categorical data](http://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html)

<br>
<b>Pandas categorical data types </b><br>
Categorical data types are using integer values to represent to represent the raw values from a column. <br>
Behind, pandas is using a dictionary to keep all the mappings between integer values and raw values. Beside encoding functionality, categorical values can be used for memory saving.

In [148]:
# convert a string type to categorical type
dataset.job.astype("category")

0           management
1           technician
2         entrepreneur
3          blue-collar
4              unknown
5           management
6           management
7         entrepreneur
8              retired
9           technician
10              admin.
11              admin.
12          technician
13          technician
14            services
15             retired
16              admin.
17         blue-collar
18             retired
19            services
20         blue-collar
21          management
22         blue-collar
23            services
24             retired
25              admin.
26          management
27        entrepreneur
28          management
29          technician
             ...
45181      blue-collar
45182       technician
45183          retired
45184          retired
45185         services
45186          unknown
45187         services
45188       management
45189         services
45190      blue-collar
45191          retired
45192       management
45193    self-employed
45194       management
45195          retired
45196          student
45197       management
45198       management
45199      blue-collar
45200       technician
45201       management
45202           admin.
45203          student
45204          retired
45205       technician
45206       technician
45207          retired
45208          retired
45209      blue-collar
45210     entrepreneur
Name: job, Length: 45211, dtype: category
Categories (12, object): [admin., blue-collar, entrepreneur, housemaid, ..., student, technician, unemployed, unknown]

In [133]:
dataset.job.astype("category").cat.codes

0         4
1         9
2         2
3         1
4        11
5         4
6         4
7         2
8         5
9         9
10        0
11        0
12        9
13        9
14        7
15        5
16        0
17        1
18        5
19        7
20        1
21        4
22        1
23        7
24        5
25        0
26        4
27        2
28        4
29        9
         ..
45181     1
45182     9
45183     5
45184     5
45185     7
45186    11
45187     7
45188     4
45189     7
45190     1
45191     5
45192     4
45193     6
45194     4
45195     5
45196     8
45197     4
45198     4
45199     1
45200     9
45201     4
45202     0
45203     8
45204     5
45205     9
45206     9
45207     5
45208     5
45209     1
45210     2
Length: 45211, dtype: int8

In [27]:
def encode_columns_as_categories(_dataset, column_set):
    for column in column_set:
        _dataset[f"{column}_cat"] = _dataset[column].astype("category").cat.codes

In [134]:
encode_features_as_categories(dataset, ["job", "marital", "education", "default", "housing", "loan", "contact", "month", "poutcome", "y"])

In [137]:
dataset.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,job_cat,marital_cat,education_cat,default_cat,housing_cat,loan_cat,contact_cat,month_cat,poutcome_cat,y_cat
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no,4,1,2,0,1,0,2,8,3,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no,9,2,1,0,1,0,2,8,3,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no,2,1,1,0,1,1,2,8,3,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no,1,1,3,0,1,0,2,8,3,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no,11,2,3,0,0,0,2,8,3,0
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no,4,1,2,0,1,0,2,8,3,0
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no,4,2,2,0,1,1,2,8,3,0
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no,2,0,2,1,1,0,2,8,3,0
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no,5,1,0,0,1,0,2,8,3,0
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no,9,2,1,0,1,0,2,8,3,0

In [138]:
feature_set = ["age", "balance", "day", "duration", "campaign", "previous", "job_cat", "marital_cat", "education_cat", "default_cat", "housing_cat", "loan_cat", "contact_cat", "month_cat", "poutcome_cat"]
target = "y_cat"

In [145]:
dt_v2 = DecisionTreeClassifier(max_depth=10, random_state=random_state)
dt_v2.fit(dataset[feature_set], dataset[target])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=1987, splitter='best')

In [146]:
accuracy_score(dataset[target], dt_v2.predict(dataset[feature_set]))

0.926544425029307

In [139]:
train, validation = train_test_split(dataset, test_size=0.3, random_state=random_state, stratify=dataset.y_cat)

In [147]:
dt = DecisionTreeClassifier(max_depth=10, random_state=random_state)
dt.fit(train[feature_set], train[target])

accuracy_score(validation[target], dt.predict(validation[feature_set]))

0.8973754054851076

In [85]:
for n_estimator in range(1,100):
    rf = RandomForestClassifier(n_estimators=n_estimator, max_depth=15, random_state=random_state)
    rf.fit(train[feature_set], train[target])

    print(f"n_estimators {n_estimator}")
    print(accuracy_score(validation[target], rf.predict(validation[feature_set])))
    print("-----")

n_estimators 1
0.8780595694485402
-----
n_estimators 2
0.8848422294308463
-----
n_estimators 3
0.8941315246240047
-----
n_estimators 4
0.8946475965791801
-----
n_estimators 5
0.8970805072250073
-----
n_estimators 6
0.8979652020053082
-----
n_estimators 7
0.8987761722205839
-----
n_estimators 8
0.8990710704806841
-----
n_estimators 9
0.8993659687407844
-----
n_estimators 10
0.8989236213506341
-----
n_estimators 11
0.8995871424358596
-----
n_estimators 12
0.8995134178708346
-----
n_estimators 13
0.8992922441757594
-----
n_estimators 14
0.9001032143910351
-----
n_estimators 15
0.9002506635210852
-----
n_estimators 16
0.9014302565614863
-----
n_estimators 17
0.9014302565614863
-----
n_estimators 18
0.9029047478619876
-----
n_estimators 19
0.9029784724270127
-----
n_estimators 20
0.9031259215570628
-----
n_estimators 21
0.9031996461220879
-----
n_estimators 22
0.9031996461220879
-----
n_estimators 23
0.9030521969920378
-----
n_estimators 24
0.903347095252138
-----
n_estimators 25
0.9028310232969625
-----
n_estimators 26
0.9029047478619876
-----
n_estimators 27
0.9036419935122383
-----
n_estimators 28
0.904452963727514
-----
n_estimators 29
0.904379239162489
-----
n_estimators 30
0.9045266882925391
-----
n_estimators 31
0.9037894426422884
-----
n_estimators 32
0.9042317900324388
-----
n_estimators 33
0.9043055145974639
-----
n_estimators 34
0.9046741374225892
-----
n_estimators 35
0.9047478619876143
-----
n_estimators 36
0.9050427602477146
-----
n_estimators 37
0.9038631672073135
-----
n_estimators 38
0.9040843409023887
-----
n_estimators 39
0.9031996461220879
-----
n_estimators 40
0.903347095252138
-----
n_estimators 41
0.9035682689472132
-----
n_estimators 42
0.9040106163373636
-----
n_estimators 43
0.9043055145974639
-----
n_estimators 44
0.9042317900324388
-----
n_estimators 45
0.9040843409023887
-----
n_estimators 46
0.9040843409023887
-----
n_estimators 47
0.9034945443821881
-----
n_estimators 48
0.9039368917723385
-----
n_estimators 49
0.9039368917723385
-----
n_estimators 50
0.9037157180772634
-----
n_estimators 51
0.9040106163373636
-----
n_estimators 52
0.9034945443821881
-----
n_estimators 53
0.903347095252138
-----
n_estimators 54
0.903347095252138
-----
n_estimators 55
0.9040106163373636
-----
n_estimators 56
0.9031259215570628
-----
n_estimators 57
0.903273370687113
-----
n_estimators 58
0.9030521969920378
-----
n_estimators 59
0.9036419935122383
-----
n_estimators 60
0.9024624004718372
-----
n_estimators 61
0.9035682689472132
-----
n_estimators 62
0.9029784724270127
-----
n_estimators 63
0.9029784724270127
-----
n_estimators 64
0.903420819817163
-----
n_estimators 65
0.9037894426422884
-----
n_estimators 66
0.903273370687113
-----
n_estimators 67
0.903273370687113
-----
n_estimators 68
0.9039368917723385
-----
n_estimators 69
0.9037157180772634
-----
n_estimators 70
0.9037894426422884
-----
n_estimators 71
0.9038631672073135
-----
n_estimators 72
0.903420819817163
-----
n_estimators 73
0.9045266882925391
-----
n_estimators 74
0.9037157180772634
-----
n_estimators 75
0.9046741374225892
-----
n_estimators 76
0.904452963727514
-----
n_estimators 77
0.904452963727514
-----
n_estimators 78
0.9041580654674137
-----
n_estimators 79
0.9041580654674137
-----
n_estimators 80
0.9037157180772634
-----
n_estimators 81
0.9038631672073135
-----
n_estimators 82
0.9034945443821881
-----
n_estimators 83
0.903420819817163
-----
n_estimators 84
0.9037157180772634
-----
n_estimators 85
0.9037894426422884
-----
n_estimators 86
0.9034945443821881
-----
n_estimators 87
0.9037157180772634
-----
n_estimators 88
0.9030521969920378
-----
n_estimators 89
0.903420819817163
-----
n_estimators 90
0.9029784724270127
-----
n_estimators 91
0.903420819817163
-----
n_estimators 92
0.903347095252138
-----
n_estimators 93
0.903347095252138
-----
n_estimators 94
0.9036419935122383
-----
n_estimators 95
0.903347095252138
-----
n_estimators 96
0.9037157180772634
-----
n_estimators 97
0.9042317900324388
-----
n_estimators 98
0.9039368917723385
-----
n_estimators 99
0.9038631672073135
-----